﻿@{
    ViewBag.Title = "Home Page";
}
<input type="text" data-bind="value: DocumentBody" class="form-control"/> 
<button data-bind="click: GenerateDocument" class="btn btn-primary">Generate Document</button>

<table data-bind="visible: Documents().length > 0" class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Content</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: Documents">
        <tr>
            <td data-bind="text: id"></td>
            <td data-bind="text: content"></td>
        </tr>
    </tbody>
</table>

@section scripts{
    <script src="~/Scripts/IndexViewModel.js"></script>
}